/* Container for the flip card */
.doctor-card {
    width: 484px;
    min-height: 593px;
    perspective: 1000px;
}

/* Inner wrapper that holds both sides */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 0px rgba(150, 150, 150, 0.25);
}

.card-inner.flipped {
    transform: rotateY(180deg);
}

/* Flip animation on hover */
.doctor-card:hover .card-inner {
    transform: rotateY(180deg);
}

/* Both sides of the card */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    backface-visibility: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Front Side Styles */
.card-front {
    background: white;
}

.card-front .img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.card-front img {
    width: 280px;
    max-width: 100%;
    border-radius: 15px;
}

.card-front p {
    font-size: 24px;
    color: #660ff1;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.card-front span {
    font-size: 16px;
    color: #1b1376;
    margin-top: 8px;
}

/* Back Side Styles */
.card-back {
    background: #12CA97; /* Change this color as needed */
    color: #fff;
    transform: rotateY(180deg);
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.card-back span {
    font-size: 20px;
    margin-top: 8px;
    display: block;
}

@media (max-width: 800px) {
    .doctor-card {
        width: 85vw;
        height: auto;
    }

    .card-front img {
        width: 300px;
        max-width: 100%;
        border-radius: 15px;
    }
}
