.doctors-intro-screen {
    display: flex;
    padding: 80px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.doctors-intro-screen .textframe {
    color: #660ff1;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -5.0px;
    line-height: 90px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.doctors-intro-screen .main-texts2 {
    color: #12CA97;
}

.doctors-intro-screen .secondary {
    width: 525px;
    color: #1b1376;
    text-align: right;
    font-size: 20px;
    font-style: normal;
}

.all-doctors-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца */
    position: relative;
    height: fit-content;
    justify-items: center;
    align-items: center;
    padding-bottom: 80px;
    gap: 32px;
}

.all-doctors-wrapper .doctor-card {
    align-items: flex-start;
    box-shadow: 0px 0px 15px 0px rgba(150, 150, 150, 0.25);

    /*background-color: #54C391;*/
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;
    position: relative;
    width: 30vw;
    height: 40vw;
}

.doctor-card div {
    width: 100%;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

.doctor-card img {
    width: 10vw;
    border-radius: 15px;
    margin-bottom: 12px;
}

.doctor-card p {
    font-size: 24px;
    color: #660ff1;
    font-weight: bold;
}

.doctor-card span {
    margin-top: 8px;
    font-size: 20px;
}

@media (max-width: 1450px) and (min-width: 1250px) {
    .all-doctors-wrapper .doctor-card {
        width: 30vw;
        height: 40vw;
    }
}


@media (max-width: 1250px) and (min-width: 800px) {
    .doctors-intro-screen {
        padding: 8vh 6vw 0 6vw;
        gap: 32px;
    }

    .doctors-intro-screen .secondary {
        text-align: justify;
    }

    .all-doctors-wrapper .doctor-card {
        width: 50vw;
        height: 40vw;
    }
}

@media (max-width: 1250px) {
    .all-doctors-wrapper {
        grid-template-columns: 1fr; /* Один столбец на мобильных устройствах */
    }

    .doctors-intro-screen {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 4vh 6vw;
        position: relative;
        width: 100%;
    }

    .doctors-intro-screen .textframe {
        font-size: 52px;
        letter-spacing: -1.0px;
    }

    .doctors-intro-screen .secondary {
        width: 100%;
        text-align: justify;
    }

    .doctor-card div {
        width: 100%;
        display: flex;
        justify-content: center; /* Центрирование по горизонтали */
        align-items: center; /* Центрирование по вертикали */
    }

    .doctor-card div img {
        align-self: center;
        width: 40vw;
        border-radius: 15px;
        margin-bottom: 20px;
    }

    .doctor-card p {
        font-size: 28px;
    }

    .doctor-card span {
        margin-top: 12px;
    }

    .all-doctors-wrapper .doctor-card {
        width: 90vw;
        height: fit-content;
    }
}

@media (max-width: 920px) {
    .doctors-intro-screen {
        padding-top: 0;
    }
}



