/* Глобальный сброс */
* {
    box-sizing: border-box;
}

/* Основные стили */
.doctors-intro-screen {
    display: flex;
    padding: 64px 120px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.doctors-intro-screen .textframe {
    color: #660ff1;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -5px;
    line-height: 90px;
    position: relative;
    /* Убрано white-space: nowrap для переноса текста при увеличении шрифта */
    width: fit-content;
    text-align: left;
    overflow-wrap: break-word;
}

.doctors-intro-screen .main-texts2 {
    color: #12CA97;
}

.doctors-intro-screen .secondary {
    width: 525px;
    color: #1b1376;
    font-size: 20px;
    font-style: normal;
    overflow-wrap: break-word;

    text-align: justify;
}

.all-doctors-wrapper {
    padding: 64px 120px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    gap: 40px;
}

/* Выравнивание карточек */
.all-doctors-wrapper > :nth-child(2n-1) {
    justify-self: start;
}

.all-doctors-wrapper > :nth-child(2n) {
    justify-self: end;
}



@media (max-width: 1250px) and (min-width: 800px) {
    .doctors-intro-screen {
        padding: 8vh 6vw 0 6vw;
        gap: 32px;
    }

    .doctors-intro-screen .textframe {
        line-height: 60px;
    }

    .doctors-intro-screen .secondary {
        text-align: right;
        width: 100%;
    }

    .all-doctors-wrapper {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .all-doctors-wrapper > :nth-child(2n-1),
    .all-doctors-wrapper > :nth-child(2n) {
        justify-self: center;
    }

    .all-doctors-wrapper .doctor-card {
        width: 484px;
        height: auto;
    }
}

@media (max-width: 800px) {
    .all-doctors-wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 4vh 6vw;
    }
    .doctors-intro-screen {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 4vh 6vw;
        width: 100%;
    }

    .doctors-intro-screen .textframe {
        font-size: 52px;
        line-height: 100px;
        letter-spacing: -1px;
        text-align: left;
    }

    .doctors-intro-screen .secondary {
        width: 100%;
    }
    .doctor-card {
        width: 40vw;
        height: auto;
    }
    .doctor-card div img {
        width: 40vw;
        margin-bottom: 20px;
    }
    .doctor-card p {
        font-size: 28px;
    }
    .doctor-card span {
        margin-top: 12px;
    }

    .all-doctors-wrapper > :nth-child(2n-1),
    .all-doctors-wrapper > :nth-child(2n) {
        justify-self: center;
    }
}

@media (max-width: 920px) {
    .doctors-intro-screen {
        padding-top: 0;
    }

    .all-doctors-wrapper {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        padding: 4vh 6vw;
    }

    /* Все карточки по центру */
    .all-doctors-wrapper > * {
        justify-self: center;
    }



    .all-doctors-wrapper > :nth-child(2n-1),
    .all-doctors-wrapper > :nth-child(2n) {
        justify-self: center;
    }
}

/* Для очень больших экранов */
@media (min-width: 1921px) {
    .all-doctors-wrapper {
        padding: 4vh 16vw;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .doctors-intro-screen {
        padding: 4vh 16vw;
        height: fit-content;
    }
}

